    <div class="container">
      <a class="btn btn-large btn-primary btn-block visible-phone" href="#"><span class="btn-label">Sign Up Today!</span></a>
      <div class="row main-features"></div>
    </div>
    <p> <b><u> Our Story </b></u></p>
     <p></p>
    <p>As two health-conscious friends living in Venice, we became intrigued
      by the juice craze. All our friends were talking about it or actively cleansing.
      We wanted to see what the fuss was about but we were turned off by the
      high prices that typical juice companies were charging. As entrepreneurs,
      we couldn't afford to be paying upwards of ten dollars a bottle. There
      had to be a cheaper way to get this liquid vitality. As luck would have
      it, one of our friends (a kick ass chef) was visiting from San Francisco.
      She offered to take us under her wing. We purchased a juicer, stocked up
      on vegetables and fruits, and we were off. Several hours later, we were
      hooked. Since that fateful day, we've collaborated with well-known chefs
      to perfect our recipes and partnered with FarmCo to ensure fresh organic
      product. This partnership with Farmco has allowed us to dramatically lower
      juice prices and shorten the time it takes the produce to move from farm
      to bottle. Give us a try. We're excited about bringing quality juices at
      prices people can afford. Cheers!</p>
    <p></p>

    <%= link_to 'Back', root_path %>
