
     <div class="container">
      <a class="btn btn-large btn-primary btn-block visible-phone" href="#"><span class="btn-label">Products!</span></a>
      <div class="row main-features"></div>
    </div>
    <p><b><u>Green Juice</u></b></p>
    <%= image_tag "juice-greens-1.jpg" %>
    <p></p>
    <ul>
      <li>Kale</li>
      <li>Apples</li>
      <li>Spinach</li>
      <li>Oranges</li>
    </ul>
    <ul></ul>
    <ul></ul>
    <p><b><u>Spicy Juice</u></b></p>
    <%= image_tag "carrot juice.jpg" %>
    <p></p>
    <ul>
      <li>Carrots</li>
      <li>Oranges</li>
      <li>Ginger</li>
    </ul>
    <ul></ul>
    <ul></ul>
    <p><b><u>Power Juice</u></b></p>
     <%= image_tag "almond juice.jpg" %>
     <p></p>
    <ul>
      <li>Bananas</li>
      <li>Almond Milk</li>
      <li>Almond Butter</li>
      <li>Granola</li>
      <li>Whey Protein</li>
    </ul>
    <ul></ul>
    <ul></ul>
    </br>
  <%= link_to 'Back', root_path %>
